.kategori {
	width: 43%;
	margin-right: 10px;
	margin-left: 10px;
}
.icon {
	font-size: xxx-large;
}
.galeri {
	width: 125px;
	height: 125px;
	object-fit: cover;
	border-radius: 8px;
}

/* 320px — 480px: Mobile devices */
@media only screen and (min-width: 320px) {
	.galeri {
		width: 150px;
		height: 150px;
	}
	.box {
		width: 50%;
	}
}
/* 481px — 768px: iPads, Tablets */
@media only screen and (min-width: 481px) {
	.galeri {
		width: 135px;
		height: 135px;
	}
	.box {
		width: 33%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.kategori {
		width: 30%;
		margin-right: 10px;
		margin-left: 10px;
	}
	.galeri {
		width: 230px;
		height: 230px;
	}
	.box {
		width: 33%;
	}
}

/* 1201px and more —  Extra large screens, TV */
@media only screen and (min-width: 1021px) {
	.galeri {
		width: 240px;
		height: 240px;
	}
	.box {
		width: 33%;
	}
}
